{% load static %}
<section class="position-relative py-5" style="height: 400px;">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Content -->
            <div class="col-md-6 m-auto px-5">
                <h3 class="fw-bold title-blue">Not Your Average Realtor</h3>
                <p class="text-muted justify-text " style="width: 300px;">
                    Most trusted brand for selling property, advanced content selling design,
                    and marketing to get the most value for your deals with a realtor.
                </p>
            </div>

            <!-- Right Image Circles -->
            <div class="col-md-6 position-relative d-flex justify-content-center align-items-center image-group">
                <!-- Large center circle -->
                <img src="{% static 'app/img/images/Ellipse 11.svg' %}" class="circle-img main-img" alt="Agent">

                <!-- Top-right smaller circle -->
                <img src="{% static 'app/img/images/Ellipse 12.svg' %}" class="circle-img small-img top-right"
                    alt="Client">

                <!-- Bottom-right smaller circle -->
                <img src="{% static 'app/img/images/Ellipse 13.svg' %}" class="circle-img small-img bottom-right"
                    alt="Handshake">
            </div>
        </div>
    </div>
</section>