{% load static %}
<section class="py-5 text-center" style="background-color: #217cf423;">
    <h3 class="fw-bold title-blue mb-3">Our Projects</h3>
    <p class="text-muted mb-5">We know that what buyers are looking for and suggested projects that will bring our
        clients top dollar for the sale of their houses.</p>
    <div class="container d-flex flex-wrap justify-content-center gap-4">

        <div class="d-flex overflow-auto gap-3 pb-3">
            {% for project in projects %}

            <div class="card" style="width: 18rem;">
                <img src="{% url 'serve_project_image' project.project_image.grid_id %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title title-blue">{{ project.project_name }}</h5>
                    <p>{{ project.project_description }}</p>
                    <a href="#" class="btn px-5 text-white fw-semibold custom-button">View More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>