{% load static %}
<section class="py-5 text-center">
    <h3 class="fw-bold title-blue mb-3">About Us</h3>
    <hr class="underline mx-auto mb-5">
    <p class="text-muted mx-auto" style="max-width: 600px;">
        We are a real estate company focused on maximizing customer value and commitment.
        Our blend of technology, research, and real-world insight enables you to make smarter property investments.
    </p>
    <button class="btn btn-light px-5 text-primary mt-5" style="
    border-bottom: 2px solid;
    border-top: 1px solid;
">Learn More</button>
</section>