{% load static %}
<section class="text-center py-2 position-relative" style="height: 500px;">

    <img src="{% static 'app/img/shapes/Rectangle 54.svg' %}" class="decor-dot" id="rectangle-54" alt="dot" width="50">
    <img src="{% static 'app/img/shapes/Rectangle 57.svg' %}" class="decor-dot" alt="dot" style="top: 50%;
    left: 30%;" width="50">
    <img src="{% static 'app/img/shapes/Group 1.svg' %}" class="decor-dot" id="group1-rectangle" alt="dot" width="70">
    <img src="{% static 'app/img/shapes/Rectangle 57.svg' %}" class="decor-dot" alt="dot" width="70" style="top: 45%;
    width: 200px;
    left: 35%;">
    <img src="{% static 'app/img/shapes/Subtract-2.svg' %}" class="decor-dot" alt="dot" width="40" style="left: 2%;">
    <img src="{% static 'app/img/shapes/Ellipse 10.svg' %}" class="decor-dot" alt="dot" style="left: 3%;
    top: 24%;
    width: 50px;">
    <img src="{% static 'app/img/shapes/Ellipse 10.svg' %}" class="decor-dot" alt="dot" style="left: 6%;
    top: 38%;
    width: 250px;">
    <img src="{% static 'app/img/shapes/Ellipse 10.svg' %}" class="decor-dot" alt="dot" style="bottom: 12%;
    right: 14%;
    width: 50px;">
    <img src="{% static 'app/img/shapes/Ellipse 17.svg' %}" class="decor-dot" alt="dot" style="left: -10%;
    top: 46%;
    width: 25%;
">
    <img src="{% static 'app/img/shapes/Ellipse 17.svg' %}" class="decor-dot" alt="dot" style="right:0%;
    bottom: 20%;
    width: 20%; ">

    <img src="{% static 'app/img/images/pexels-brett-sayles-2881232.svg' %}" class="position-absolute" id="img1"
        width="120">


    <img src="{% static 'app/img/images/pexels-andres-ayrton-6578391.svg' %}" class="position-absolute" id="img2"
        width="250">
    <img src="{% static 'app/img/images/pexels-fauxels-3182834.svg' %}" class="position-absolute" id="img3" width="140">

    <img src="{% static 'app/img/shapes/Subtract.svg' %}" class="decor-dot" alt="dot" width="40" style="top: 25%;
    left: 56%;">
    <img src="{% static 'app/img/shapes/Subtract-5.svg' %}" class="decor-dot" alt="dot" width="40" style="bottom: 6%;
        right: 29%;">
    <img src="{% static 'app/img/shapes/Subtract-4.svg' %}" class="decor-dot" alt="dot" width="40" style="top: 28%;
    left: 29%;">

</section>