{% load static %}
<section class="py-5 text-center" style="background-color: #217cf423;">
    <h3 class="fw-bold title-blue mb-3">Our Projects</h3>
    <p class="text-muted mb-5">We know that what buyers are looking for and suggested projects that will bring our
        clients top dollar for the sale of their houses.</p>
    <div class="container d-flex flex-wrap justify-content-center gap-4">

        <div class="d-flex overflow-auto gap-3 pb-3">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/img/images/pexels-brett-sayles-2881232.svg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title title-blue">Project Title</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn px-5 text-white fw-semibold custom-button">View More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/img/images/pexels-brett-sayles-2881232-1.svg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title title-blue">Project Title</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn px-5 text-white fw-semibold custom-button">View More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/img/images/pexels-brett-sayles-2881232-2.svg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title title-blue">Project Title</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn px-5 text-white fw-semibold custom-button">View More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/img/images/pexels-brett-sayles-2881232-3.svg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title title-blue">Project Title</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn px-5 text-white fw-semibold custom-button">View More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'app/img/images/pexels-andres-ayrton-6578391.svg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title title-blue">Project Title</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn px-5 text-white fw-semibold custom-button">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>