{% load static %}
<section class="py-5 bg-light text-center my-auto" style="height: 600px;">
    <h3 class="fw-bold title-blue mb-5">Happy Clients</h3>
    <div class="container d-flex flex-wrap justify-content-center gap-4">
        <div class="d-flex overflow-auto gap-3 pb-3">
            {% for client in clients %}
            <div class="card p-3 card-client">
                <div class="mx-auto my-3" style="width: 70px; height: 70px;">
                    <img src="{% url 'serve_client_image' client.client_image.grid_id %}" alt=""
                        style="width: 100%; border-radius: 50%;">
                </div>
                <p class="text-muted text-left">{{ client.client_description }}</p>
                <h6 class="mt-2 text-left title-blue">{{ client.client_name}}</h6>
                <small class="text-muted text-left">{{ client.client_designation }}</small>
            </div>
            {% endfor %}
        </div>

    </div>
</section>