<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
</head>

<body>
    <form method="POST" action="/project-add/" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter name" required />
        <input type="text" name="description" id="description" placeholder="Description">
        <input type="text" name="location" id="location" placeholder="loc">
        <input type="file" name="image" accept="image/*" required />
        <button type="submit">Add</button>
    </form>
</body>

</html>