{% extends 'app/base.html' %}
{% load static %}

{% block title %}Home - RealTrust{% endblock %}

{% block header %}
{% include 'app/header/header.html' %}
{% endblock %}


{% block content %}

<div class="position-relative">

    <!-- Images required for svg -->
    {% include 'app/svgs.html' %}

    {% include 'app/sections/section-1.html' %}

    <!-- Why Choose Us -->
    {% include 'app/sections/section-2.html' %}

    <!-- Images Section -->
    {% include 'app/sections/section-3.html' %}


    <!-- About Us -->
    {% include 'app/sections/section-4.html' %}

    <!-- Our Projects -->
    {% include 'app/sections/section-5.html' %}

    <!-- Happy Clients -->
    {% include 'app/sections/section-6.html' %}

</div>

{% endblock %}


<!-- Footer -->
{% block footer %}
{% include 'app/footer/footer.html' %}
{% endblock %}